@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-swap: swap;
}

@font-face {
  font-family: "Heebo";
  src: url("./fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-swap: swap;
}

@font-face {
  font-family: "Yantramanav";
  src: url("./fonts/Yantramanav-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-swap: swap;
}

:root {
  --color-dark: #000000;
  --color-dark-alternate: #131619;
  --color-light: #ffffff;
  --color-dark-gray: #404040;
  --color-light-gray: #c4c4c4;
  --color-current-red: indianred;

  --container-width: 1300px;
  --container-padding-x: 15px;
  --border: 1px solid var(--color-light);
  --border-radius: 30px;
  --input-height: 54px;
  --header-height: 90px;
  --transition-duration: 0.2s;

  --font-family-base: "Heebo", sans-serif;
  --font-family-accent: "Yantramanav", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  font-family: var(--font-family-base);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  color: var(--color-light-gray);
  background-color: var(--color-dark);
}

a {
  color: var(--color-light);
}
a:hover {
  color: var(--color-light-gray);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

p {
  margin-block: 0;
}
p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-light);
}
