/* =============== UTILITY =============== */

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
  color: var(--color-light);
}

/* =============== HEADER =============== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  padding-inline: 32px;
  column-gap: 20px;

  background-color: var(--color-dark-alternate);
}

.header-logo-img {
  /* align-self: center; */
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  column-gap: 7px;

  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* background-color: tomato; */
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  /* background-color: currentColor; */
  background-color: indianred;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 39px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;

  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;

  background-color: transparent;
  border: var(--border);
}

.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  background: url("../icons/arrow-icon-2.svg") center/70% no-repeat;
}

.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.header-burger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;

  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}
.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

/* =============== BANNER =============== */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;

  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}
.banner-body {
  text-transform: uppercase;
}
.banner-info {
  display: flex;
  align-items: end;

  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}
.banner-info::before {
  margin-right: 30px;
  margin-left: 60px;
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url("../icons/arrow-icon-1.svg") center/contain no-repeat;
}

.banner-title {
  /* width: 100%; */
  font-size: min(18.75vw, 360vw);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;

  column-gap: 3px;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;

  background-color: transparent;
  border: none;
}
.banner-pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
.banner-pagination-button.is-current::after {
  /* background-color: var(--color-light); */
  border: none;
  background-color: var(--color-current-red);
}
.banner-pagination-button:not(.is-current):hover::after {
  /* border-color: var(--color-light-gray); */
  border-color: var(--color-current-red);
}

/* =============== MOTIVATION =============== */

.motivation {
}
.visually-hidden {
}
.motivation-list {
}
.motivation-item {
}
.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(20px, 10.42vw, 200px);
}

.motivation-card-body {
  padding-left: 35px;
}
.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.backbrop-title {
  position: relative;
  z-index: 10;
}

.backbrop-title::before {
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("../icons/plus.svg") center/contain no-repeat;
}

.backbrop-title::after {
  content: attr(data-title);
  position: absolute;
  top: -0.5em;
  left: -0.7em;
  z-index: -1;

  color: transparent;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  -webkit-text-stroke: 1px var(--color-light-gray);
  text-stroke: 1px var(--color-light-gray);
}

.motivation-card-description {
  max-width: 400px;
}
.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}

.motivation-card-button {
}
.button {
}
.transparent {
}
.motivation-card-img {
  margin-block: -60px;
}

/* =============== MEDIA =============== */

@media (max-width: 1919px) {
  .motivation-card-img {
    margin-block: -20px;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }

  .header-menu {
    order: 1; /* переносим меню в конец */
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 40px;
  }

  .banner {
    padding-inline: 15px;
  }

  .motivation-card-img {
    max-width: 30%;
    height: auto;
    margin-block: 0px;
  }

  .motivation-card {
    padding-block: 50px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 15px;
  }

  .header-menu-link {
    height: 30px;
  }

  .header-actions {
    column-gap: 10px;
  }

  .button {
    padding-inline: 18px;
  }

  .banner {
    row-gap: 20px;
  }

  .banner-info {
    margin-bottom: 5px;
  }

  .banner-info::before {
    margin-right: 20px;
    margin-left: 30px;
  }

  .motivation-card,
  .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }

  .motivation-card {
    row-gap: 30px;
  }

  .motivation-card-img {
    max-width: 60%;
  }

  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }
}
