/* ==============={ UTILITY }=============== */

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
}
.title-big {
  font-size: clamp(30px, 3.12vw, 60px);
  line-height: 1.2;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;

  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-light-gray);
}

.button.transparent {
  position: relative;
  height: var(--input-height);
  padding-left: 31px;
  padding-right: 80px;

  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
}
.button.transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  background: url("../icons/arrow-icon-2.svg") center/70% no-repeat;
}
.button.transparent:hover {
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}

.backdrop-title {
  position: relative;
  z-index: 10;
}
.backdrop-title::before {
  display: block;
  position: absolute;
  right: calc(100% + 8px);
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url("../icons/plus.svg") center/contain no-repeat;
}
.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  top: -0.3em;
  left: -0.7em;
  z-index: -1;

  color: transparent;
  font-family: var(--font-family-accent);
  font-size: 2.8em;
  line-height: 1;
  -webkit-text-stroke: 1px var(--color-dark-gray);
  text-stroke: 1px var(--color-dark-gray);
}
.backdrop-title.centered::after {
  top: -0.35em;
  left: 50%;
  translate: -50%;
}

.section-description {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  color: var(--color-light);
  text-align: center;
}

.input {
  height: var(--input-height);
  padding-inline: 25px;
  width: 100%;

  color: var(--color-light);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--border-radius);
  background: transparent;
}
/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide spin buttons in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.input::placeholder {
  color: var(--color-light-gray);
}
.input:hover {
  border: 1px solid var(--color-light);
}
.input:focus {
  outline: none;
  color: var(--color-dark);
  background-color: var(--color-light-gray);
}
/* .input::placeholder,
select.input:invalid {
  color: var(--color-light-gray);
} */

svg *[fill] {
  fill: currentColor;
}
svg *[stroke] {
  fill: currentColor;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

/* ==============={ HEADER }=============== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: var(--header-height);
  padding-inline: 32px;
  column-gap: 20px;

  background-color: var(--color-dark-alternate);
}

.header-logo-image {
  /* align-self: center; */
  flex-shrink: 0;
}

.header-menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: var(--header-height);
  column-gap: 7px;

  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  /* background-color: currentColor; */
  background-color: indianred;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 39px;
}

.header-burger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;

  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}
.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

/* ==============={ BANNER }=============== */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: calc(100vh - var(--header-height));
  padding: 36px 70px;

  color: var(--color-light);
  background-color: var(--color-dark-alternate);
}
.banner-body {
  text-transform: uppercase;
}
.banner-info {
  display: flex;
  align-items: end;

  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.27;
  font-weight: 700;
}
.banner-info::before {
  margin-right: 30px;
  margin-left: 60px;
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  background: url("../icons/arrow-icon-1.svg") center/contain no-repeat;
}

.banner-title {
  /* width: 100%; */
  font-size: min(18.75vw, 360vw);
  line-height: 1;
}

.banner-pagination-list {
  display: flex;
  justify-content: center;

  column-gap: 3px;
}

.banner-pagination-item {
  display: flex;
}

.banner-pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;

  background-color: transparent;
  border: none;
}
.banner-pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
.banner-pagination-button.is-current::after {
  /* background-color: var(--color-light); */
  border: none;
  background-color: var(--color-current-red);
}
.banner-pagination-button:not(.is-current):hover::after {
  /* border-color: var(--color-light-gray); */
  border-color: var(--color-current-red);
}

/* ==============={ MOTIVATION }=============== */

.motivation-item:nth-child(even) {
  background-color: var(--color-dark-alternate);
}

.motivation-item:nth-child(even) .motivation-card {
  flex-direction: row-reverse;
}

.motivation-card {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: clamp(20px, 10.42vw, 200px);
}

.motivation-card-body {
  padding-left: 35px;
}
.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}

.motivation-card-description {
  max-width: 400px;
}
.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}

.motivation-card-img {
  margin-block: -60px;
}

/* ==============={ TRAINING TYPES }=============== */

.training-types {
  padding-top: 70px;
  padding-bottom: 120px;

  /* для перекрытия img блока motivation */
  position: relative;
  background-color: var(--color-dark);
}

.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}

.training-types-item {
  --trainingTypesItemBgIconSize: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 32px;

  padding-top: var(--trainingTypesItemBgIconSize);

  text-align: center;
  background: url("../icons/arrow-icon-3.svg") 100% 0 /
    var(--trainingTypesItemBgIconSize) no-repeat;
}

.training-types-image {
  max-width: 150px;
  max-height: 140px;
}

.training-types-item-title {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* ==============={ JOIN US }=============== */

.join-us {
  background-color: var(--color-dark-alternate);
}

.join-us-video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 30px;

  background: url("../img/video-wrapper.jpg") center/cover no-repeat
    var(--color-dark-alternate);
}

.join-us-video {
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  aspect-ratio: 1;
  column-gap: 5px;

  border: var(--border);
  border-radius: 50%;
  background: transparent;

  color: var(--color-light);
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}
.join-us-video-play-button:hover {
  color: var(--color-dark);
  border: 2px solid var(--color-current-red);
}
.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;

  transition-duration: var(--transition-duration);
  background: url("../icons/arrow-icon-2.svg") center/contain no-repeat;
}
.join-us-video-play-button:hover::after {
  filter: invert(1);
}

.join-us-body {
  padding-bottom: 150px;
}

.join-us-title {
  /* для наложения поверх */
  position: relative;
  /* для поднятия заголовка */
  margin-top: -0.5em;

  font-weight: 700;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}
.join-us-title::after {
  content: "";

  display: inline-block;
  margin-left: 0.14em;
  height: 0.7em;
  aspect-ratio: 1;
  scale: 1 -1;

  background: url("../icons/arrow-icon-1.svg") center / contain no-repeat;
}
.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}

.join-us-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
}
.join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}

.join-us-form-body {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.join-us-form-input {
  max-width: 400px;
}

/* ==============={ LOCATION }=============== */

.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location-map-image {
  height: auto;
}

.location-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 80px 15px;

  text-align: center;
}

.location-title {
  font-size: 40px;
  line-height: 1.3;
}
.location-title:not(:last-child) {
  padding-bottom: 14px;
}

.location-description {
  max-width: 490px;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.05em;
}
.location-description:not(:last-child) {
  padding-bottom: 37px;
}

/* ==============={ FAMILY }=============== */

.family {
  background-color: var(--color-dark-alternate);
}

.family-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;

  padding-top: 132px;
  padding-bottom: 62px;

  text-align: center;
}

.family-body {
  display: flex;
  justify-content: center;
  column-gap: 26px;

  /* css slider */
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

.family-image {
  /* css slider */
  scroll-snap-align: start;
}

/* ==============={ CALCULATE }=============== */

.calculate {
  padding-block: 146px;

  background-color: var(--color-dark-alternate);
}

.calculate-inner {
  display: flex;
  align-items: center;
  column-gap: 36px;
}

.calculate-body {
  max-width: 672px;
  flex-grow: 1;
}

.calculate-title:not(:last-child) {
  margin-bottom: 16px;
}

.calculate-description {
  max-width: 385px;
}
.calculate-description:not(:last-child) {
  margin-bottom: 30px;
}
.calculate-form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}
.calculate-form-body:not(:last-child) {
  margin-bottom: 26px;
}

.calculate-input.wide {
  grid-column: -1/1;
}

.calculate-table-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 610;
  width: 100%;
}
.calculate-table-wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 75%; /* 100% */
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: var(--color-dark);
}

.calculate-table {
  position: relative;

  border-collapse: collapse;
}
.calculate-table :is(td, th) {
  padding-right: 30px;
}
.calculate-table :is(td, th):not(:first-child) {
  padding-left: 30px;
}
.calculate-table th {
  padding-block: 20px;

  color: var(--color-light);
  text-align: start;
  text-transform: uppercase;
}
.calculate-table td {
  padding-block: 14px;
}
.calculate-table tfoot {
  color: var(--color-light);
}
.calculate-table tfoot td {
  padding-top: 33px;
  padding-bottom: 0;
}

/* calculate - borders */
.calculate-table :is(td, th):not(:last-child) {
  border-right: 1px solid var(--color-light-gray);
}
.calculate-table tbody td {
  border-top: 1px solid var(--color-light-gray);
}
.calculate-table tbody tr:last-child td:first-child {
  position: relative;
}
.calculate-table tbody tr:last-child td:first-child::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;

  width: 70%;
  height: 1px;
  background-color: var(--color-light-gray);
}

/* ==============={ FOOTER }=============== */

.footer {
  --footer-logo-width: 20.77%;
}

.footer-main {
  padding-bottom: 140px;
  padding-top: 160px;
}

.footer-header,
.footer-body {
  display: grid;
  column-gap: 62px;
}

.footer-header {
  grid-template-columns: var(--footer-logo-width) auto;
}
.footer-header:not(:last-child) {
  margin-bottom: 60px;
}

.footer-logo-image {
  height: auto;
}

.footer-body {
  grid-template-columns: var(--footer-logo-width) repeat(3, 1fr);
}

.footer-description {
  text-align: left;
}

.footer-column-title {
  font-size: clamp(18px, 1.15vw, 22px);
}
.footer-column-title:not(:last-child) {
  margin-bottom: 15px;
}
.footer-column-title.has-arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.5em;
  height: 0.74em;
  aspect-ratio: 1;
  scale: -1 1;

  background: url("../icons/arrow-icon-1.svg") center / contain no-repeat;
}

.footer-schedule:not(:last-child) {
  margin-bottom: 15px;
}

.footer-address {
  font-style: normal;
}
.footer-address:not(:last-child) {
  margin-bottom: 35px;
}

.footer-subscribe {
  position: relative;
}
.footer-subscribe:not(:last-child) {
  margin-bottom: 50px;
}

.footer-subscribe-input {
  padding-right: 70px;
}

.footer-subscribe-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  aspect-ratio: 1;

  border: var(--border);
  border-radius: 50%;
  background: url(../icons/arrow-icon-2.svg) center / 70% no-repeat;
}
.footer-subscribe-button:hover {
  background-color: var(--color-light-gray);
}

.footer-soc1als-list {
  display: flex;
  column-gap: 18px;
}

.footer-soc1als-link {
  display: flex;
  width: 23px;
}

.footer-extra {
  padding-block: 15px;

  background-color: var(--color-dark-alternate);
}

.footer-copyright {
  font-size: 14px;
}

/* ==============={ MEDIA }=============== */

@media (max-width: 1919px) {
  .motivation-card-img {
    margin-block: -20px;
  }
}

@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  /* header 1024 */
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 15px;
  }
  .header-menu {
    order: 1; /* переносим меню в конец */
    flex-basis: 100%;
  }
  .header-menu-link {
    height: 40px;
  }

  /* banner 1024 */
  .banner {
    padding-inline: 15px;
  }

  /* motivation 1024 */
  .motivation-card-img {
    max-width: 30%;
    height: auto;
    margin-block: 0px;
  }
  .motivation-card {
    padding-block: 50px;
  }

  /* join us 1024 */
  .join-us-body {
    padding-bottom: 80px;
  }
  .join-us-title.join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }

  /* location 1024 */
  .location {
    display: flex;
    flex-direction: column-reverse;
  }

  /* family 1024 */
  .family-image {
    height: 360px;
  }

  /* calculate 1024*/
  .calculate {
    padding-block: 100px;
  }
  .calculate-inner {
    column-gap: 20px;
  }
  .calculate-form-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .calculate-button {
    width: 100%;
  }
  .calculate-table :is(td, th) {
    padding-block: 10px;
  }
  .calculate-table tfoot td {
    padding-top: 10px;
  }

  /* footer 1024 */
  .footer-main {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .footer-header {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .footer-body {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}

@media (max-width: 767px) {
  /* header 767 */
  .header {
    padding-top: 10px;
  }
  .header-menu-list {
    column-gap: 15px;
  }
  .header-menu-link {
    height: 30px;
  }
  .header-actions {
    column-gap: 10px;
  }
  .button {
    padding-inline: 18px;
  }

  /* banner 767 */
  .banner {
    row-gap: 20px;
  }
  .banner-info {
    margin-bottom: 5px;
  }
  .banner-info::before {
    margin-right: 20px;
    margin-left: 30px;
  }

  /* motivation 767 */
  .motivation-card,
  .motivation-item:nth-child(even) .motivation-card {
    flex-direction: column-reverse;
  }
  .motivation-card {
    row-gap: 30px;
  }
  .motivation-card-img {
    max-width: 60%;
  }
  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }

  /* training types 767 */
  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .training-types-item {
    --trainingTypesItemBgIconSize: 50px;
  }

  /* join us 767 */
  .join-us-form-body {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .join-us-video-play-button {
    width: 150px;
  }
  .join-us-title.join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }
  .section-description {
    font-size: 16px;
  }

  /* location 767 */
  .location-body {
    padding: 30px 15px;
  }
  .location-description:not(:last-child) {
    padding-bottom: 17px;
  }

  /* family 767 */
  .family-body {
    column-gap: 12px;
  }
  .family-header {
    padding-top: 80px;
    padding-bottom: 50px;
  }
  .family-image {
    height: 200px;
  }

  /* calculate 767*/
  .calculate {
    padding-block: 60px;
  }
  .calculate-inner {
    flex-direction: column;
    row-gap: 30px;
  }
  .calculate-table-wrapper::before {
    display: none;
  }

  /* footer 767 */
  .footer-body {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-main {
    padding-block: 50px;
  }
  .footer-header:not(:last-child) {
    margin-bottom: 30px;
  }
  .footer-subscribe:not(:last-child) {
    margin-bottom: 30px;
  }
}
