/* ===== HEADER ===== */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 32px;
  column-gap: 20px;

  background-color: var(--color-dark-alternate);
}

.header-logo {
}

.header-logo-img {
  /* align-self: center; */
  flex-shrink: 0;
}
.header-menu {
}

.header-menu-list {
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;
}

.header-menu-item {
}

.header-menu-link {
  display: inline-flex;
  align-items: center;
  height: 90px;
  column-gap: 7px;

  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  /* background-color: tomato; */
}

.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.header-actions {
  display: flex;
  column-gap: 39px;
}

.button {
  display: inline-flex;
  align-items: center;
  height: 38px;
  padding-inline: 26px;

  background-color: var(--color-light);
  border: none;
  border-radius: var(--border-radius);
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
}
.button:hover {
  background-color: var(--color-light-gray);
}

.header-book-button {
}

.header-burger-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;

  color: var(--color-light);
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}
.header-burger-button:hover {
  color: var(--color-light-gray);
  border-color: var(--color-light-gray);
}

/* ===== MEDIA ===== */

.content {
}
.visually-hidden {
}
.banner {
}
.banner-body {
}
.banner-info {
}
.banner-title {
}
.banner-pagination {
}
.banner-pagination-list {
}
.banner-pagination-item {
}
.banner-pagination-button {
}
.is-Current {
}


/* ===== MEDIA ===== */

@media (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
    padding-top: 20px;
    row-gap: 10px;
    padding-inline: 20px;
  }

  .header-menu {
    order: 1; /* переносим меню в конец */
    flex-basis: 100%;
  }

  .header-menu-link {
    height: 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }

  .header-menu-list {
    column-gap: 15px;
  }

  .header-menu-link {
    height: 30px;
  }

  .header-actions {
    column-gap: 10px;
  }

  .button {
    padding-inline: 18px;
  }
}
